# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


/log/nginx-access-ui.log-20170630
/log_analyzer_reduced.py
/reports/report-2017.06.30.html
